<!DOCTYPE html>
<html lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title tal:content="page.title">3rd Space - Community Concierge</title>
    <meta name="description" tal:attributes="content page.description"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style tal:content="page.customCSS | nothing"></style>
</head>
<body>
